################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NGS_TPU.sln
/.vs/NGS_TPU/v14/.suo
