################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pyc
*.pyproj
*.sln
*.log
Thumbs.db