################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pyc
*.pyproj
*.sln
*.log
extra_bytes_play.py
test_Las.py